html{
    scroll-behavior: none;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}
.splash{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 1;
    overflow: hidden;
    background: #F8F3D9;
    z-index: 9999;
    animation: opacity 1.5s 1.5s linear both;
}
.splash::after{
    content: "WELCOME";
    text-align: center;
    align-content: center;
    text-overflow: clip;
    font-size: 300px;
    color: #79a091;
    text-shadow: 0px 0px 5px black;
    transform: scale(100%);
    display: block;
    width: 100%;
    height: 100vh;
}
.hide{
    display: none;
}
@keyframes opacity {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.banner{
    width: auto;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}
.container{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background:#F8F3D9 ;
    grid-template-columns: repeat(6, auto-fill);
    grid-template-rows: repeat(12, 200px);
    grid-template-areas: 
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    ". featured featured featured featured ."
    ". featured featured featured featured ."
    ". featured featured featured featured ."
    ". featured2 featured2 featured2 featured2 ."
    ". featured2 featured2 featured2 featured2 ."
    ". featured2 featured2 featured2 featured2 ."
}
@property --width{
    syntax: "<length>";
    initial-value: 100vw;
    inherits: true;
}
.hero{
    overflow: hidden;
    grid-area: hero;
    width: var(--width);
    display: flex;
    background: #F8F3D9;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 95%;
}
@keyframes bluranimation {
    0%{
        filter: blur(40px);
    }
    100%{
        filter: blur(0px);
    }
}
.item_left{
    display: block;
    width: 20%;
    height: 100vh;
    background-image: url(img/hero_notebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 200px;
    filter: drop-shadow(5px 5px 10px black);
    rotate: 130deg;
    translate: 0% -10%;
    animation: pop_in_left 1.5s 6s ease-in-out both, bounce 3s 7.5s ease-in-out infinite;
    
    @media screen and (max-width: 768px) {
        display: none;
    }
}
@keyframes pop_in_left {
    from{
        translate: -100% -30%;
    }
    to{
        translate: 0% -30%;
    }
}
.item_center{
    display: block;
    width: 60%;
    height: 100vh;
    text-wrap: wrap;
    align-content: center;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.item_center p{
    font-size: 120px;
    text-align: center;
    align-content: center;
    padding-bottom: 800px;
    color: #79a091;
    text-shadow: 0px 0px 5px black;
    animation: pop_in_top 1.5s 6s ease-in-out both;
}
@keyframes pop_in_top{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
.item_center::before{
    content: "";
    position: absolute;
    padding-bottom: 0px;
    margin-top: 40vh;
    justify-content: center;
    background-image: url(img/hero_notebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 10px black);
    width: 100%;
    height: 50vh;
    z-index: -1;
    animation: pop_in_bottom 1.5s 6s ease-in-out both, bounce 5s 7.5s ease-in-out infinite;
}
@keyframes pop_in_bottom{
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
    }
}
.item_right{
    position: relative;
    display: block;
    width: 20%;
    height: 100vh;
    background-image: url(img/hero_notebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 10px black);
    rotate: 70deg;
    translate: 10% 40%;
    animation: pop_in_right 1.5s 6s ease-in-out both, bounce 3s 1.5s ease-in-out infinite;

    @media screen and (max-width: 768px) {
        display: none;
    }
}
@keyframes pop_in_right {
    from{
        translate: 150% 40%;
    }
    to{
        translate: 0% 40%
    }
}
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}
.navigation{
    border-bottom: 1px solid black;
    position: fixed;
    grid-area: navigation;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #79a091;
    z-index: 1000;
    animation: pop_in_top 1s 6s ease-in-out both;
}
.navigation ul{
    margin: 0 auto;
    width: 300px;
    font-size: 18px;
    margin-right: -35px;
    transform: translateX(-50px);
    padding: 10px;
    text-align: center;
    align-content: center;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.navigation h1{
    margin-left: 15px;
    width: 100%;
    align-content: center;
}
.navigation ul:hover{
    background: #b1bfc9;
    font-size: 22px;
    font-weight: bold;
    color: #F8F3D9;
    text-shadow: 0px 0px 3px black;
}
.featured{
    overflow: hidden;
    grid-area: featured;
    display: flex;
    width: 100vw;
    padding: 20px;
    border-top: 2px solid;
    border-color: black;
    background: #F8F3D9;
}
.featured2{
    overflow: hidden;
    grid-area: featured2;
    display: flex;
    width: 100vw;
    padding: 20px;
    border-top: 2px solid;
    border-color: black;
    background: #F8F3D9;
}
.card{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    position: relative;
    background:#F8F3D9 ;
    z-index: 3;
    align-items: center;
}
.card .box{
    overflow: hidden;
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    background-color: transparent;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 10px black;
}
.featured .card .box .box_img{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/hero_notebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 300px;
    z-index: 1;
    animation: bluranimation both;
    animation-timeline: view(100% -20%);
}
.featured2 .card .box .box_img2{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: fit-content;
    position: relative;
    background-image: url(img/hero_notebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    animation: bluranimation both;
    animation-timeline: view(100% -20%);
}
.description{
    height: 100%;
    position: relative;
    text-align: center;
    align-content: center;
    text-wrap: balance;
    background: #79a091;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    font-size: 50px;
}
